version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "8000"

  nginx:
    build: .
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
